form{margin-left: 100px;}
h1{text-align: center;}
body{font-weight: bold;background-image:url("imagenes/informatica.jpg"); 
background-image:url("imagenes/images.jpg"); background-repeat: no-repeat; background-size: cover; padding: 10px; 
} 
.form-control{width: 200px;border: solid 1px black}
.btn-success{width: 200px; height: 50px; font-weight: bold;font color="red";}

