<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <display-name>Demo Servlet Listener</display-name>
  
    <context-param>
        <param-name>DBUSER</param-name>
        <param-value>postgres</param-value>
    </context-param>

    <context-param>
        <param-name>DBPWD</param-name>
        <param-value>marcos36634093</param-value>
    </context-param>

    <context-param>
        <param-name>DBURL</param-name>
        <param-value>jdbc:postgresql://localhost:5432/heskuelita</param-value>
    </context-param>

    <context-param>
        <param-name>DRIVER</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>

    <servlet>
        <servlet-name>controller</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.capgemini.heskuelita.web.jpauser</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
</web-app>